.container
  .wrapper
    %h2
      = t('devise.sessions.login')
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = t('devise.sessions.email')
        %br/
        = f.email_field :email, autofocus: true
      .field
        = t('devise.sessions.password')
        %br/
        = f.password_field :password, autocomplete: "off"
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = t('devise.sessions.remember_me')
      .actions{style: 'margin-top: 14px'}
        = f.submit t 'devise.sessions.login'
    = render "users/shared/links"
