!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      = t('mail.order_notifier.thankyou')
    %h3
      = t('mail.order_notifier.order_code') + @order.id.to_s
    %p
      = t('mail.order_notifier.items_in_order')
    %ul
      - @order_details.each do |od|
        %li
          = @products.find(od.product_id).name  
          = od.qty
          = t('cart.item')
      %li
        = t('cart.total_price')
        = @order.total_price
    %div= link_to t('mail.order_notifier.view_details'), @order
