.container
  %h3
    User email: #{current_user.email}
  .nab-bar-user
    = link_to 'New product', new_product_path
    = link_to 'Who purchase my goods', who_purchased_path, style: 'margin-left: 30px'
  %h3 Cửa hàng của bạn
  %br
  %br
  - if !@products.nil?
    - @products.each do |product|
      .product
        %span.product-id{:style => "display: none"}= product.id
        %span.product-name= product.name
        %span.product-price= product.price
        %span= product.created_at.strftime("%b  %d %Y")
        %span= product.category.name
