%p#notice= notice
- if @order.nil?
  %h3 Don hang nay khong phai cua ban!
- else
  %h3
    = t('order')
    = @order.id
  .c-cart
    .cart-header
      %div
        = t('cart.product_name')
      %div
        = t('cart.quantity')
      %div
        = t('product.price')
      %div
        = t('cart.amount')
    .cart-list-item
      - total_price = 0
      - @order_details.each do |od|
        %div
          %div= od.product.name
          %div= od.qty
          %div= od.product.price
          %div= od.product.price * od.qty
        - total_price += od.product.price * od.qty
  %h3.total-price
    = t('cart.total_price') 
    = total_price
= link_to t('back'), orders_path
