%h1
  = t('header.product')
= link_to t('product.see_my_cart'), cart_index_path
.c-search-results
  .r-header
    %span
      = t('product.title')
    %span.js-price{:style => "position: relative;"}
      = t('product.price')
      = render 'partials/sort_form', sort_column: 'price'
    %span.js-created-at{:style => "position: relative;"}
      = t('product.created_at')
      = render 'partials/sort_form', sort_column: 'created_at'
    %span
      = t('product.category')
  .r-content
    .content
      - @products.each do |product|
        .product
          %span.product-id{:style => "display: none"}= product.id
          %span.product-name= product.name
          %span.product-price= product.price
          %span= product.created_at.strftime("%b  %d %Y")
          %span= product.category.name
          %button.js-order-btn Add to cart
      = paginate @products
%br/
:javascript
  var cartValue = $.cookie("cart");
  
  if ($.isEmptyObject($.cookie("cart"))) {
    var cartObj = {"cart": []};
  } else {
    var cartObj = JSON.parse($.cookie("cart"));
  }

  $('.js-price').click(function(){
    $('.price-sort').toggle();
  });
  $('.js-created-at').click(function(){
    $('.created_at-sort').toggle();
  });
  $('.js-order-btn').click(function(){
    var productId = $(this).parent().children(".product-id").text();
    var productName = $(this).parent().children(".product-name").text();
    var productPrice = $(this).parent().children(".product-price").text();
    if ($.isEmptyObject(cartObj.cart)) {
      cartObj['cart'].push({id: productId, product: {name: productName, price: productPrice, qty: 1}});
    } else {
      if ($.isEmptyObject(cartObj.cart.find(item => item.id === productId))) {
        cartObj['cart'].push({id: productId, product: {name: productName, price: productPrice, qty: 1}});
      } else {
        cartObj.cart.find(item => item.id === productId).product.qty++;
      }
    }
    $.cookie( "cart", JSON.stringify( cartObj));
    alert("Ban vua them mot san pham vao gio hang!");
  });
