= form_tag search_products_path, method: 'get' do
  = text_field_tag :q, params[:q], placeholder: 'Search product'
  = submit_tag t('product.search')
.container
  .c-search-results
    .r-header
      %span
        = t('product.title')
      %span
        = t('product.price')
      %span
        = t('product.description')
    .r-content
      .content
        - @products.each do |product|
          .product
            = link_to product_path(product) do
              %span= product.name
            %span= product.price
            %span= product.description
            %button Order
        = paginate @products
